{% import '_includes/forms' as forms %}

{% set firstGroupId = value.getGroupIds() | first %}

{% if mode == 'dropdown' %}
    {{ forms.selectField({
        id: name,
        name: name,
        options: userGroups,
        value: firstGroupId,
    }) }}
{% elseif mode == 'checkboxes' %}
    {{ forms.hidden({
        id: name,
        name: name,
    }) }}

    {{ forms.checkboxSelect({
        id: name,
        name: name,
        options: userGroups,
        values: value.getGroupIds(),
    }) }}
{% elseif mode == 'radio' %}
    {{ forms.radioGroupField({
        id: name,
        name: name,
        options: userGroups,
        value: firstGroupId,
    }) }}
{% endif %}

